.lyracle {
    width: 100vw;
    height: 100vh;

    background-image: url('./assets/images/screenBG.png');

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Modern Antiqua';

    .landing {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .shuffled {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;

        .cards {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 40px;

            perspective: 1000px;

            .result {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 30px;

                .position {
                    color: #655476;
                    font-size: 32px;
                }
            }
        }

        .buttons {
            display: flex;
            gap: 30px;
        }

        .button {
            background-color: #655476;

            display: flex;
            padding: 15px;

            border-radius: 10px;

            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

            color: white;

            &:hover {
                cursor: pointer;

                transition: transform 0.3s ease;
                transform: scale(1.05);
                
            }
        }
    }
    
    .card {
        height: 350px;
        aspect-ratio: 5/8;

        background-image: url('./assets/images/cardBG.png');
        background-size: 100% 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;

        border-radius: 20px;

        .label {
            height: 100%;
            display: flex;
            justify-content: center;

            color: white;
            text-align: center;
        }

            #artist {
                align-items: baseline;

                font-size: 10px;
            }

            #title {
                align-items: end;

                font-size: 18px;
            }

            #name {
                align-items: baseline;

                font-size: 36px;
            }

            #instructions {
                align-items: end;

                font-size: 18px;
            }

        .image {
            width: 100%;
        }

        &:hover {
            cursor: pointer;
        }
    }
        #song {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            
            &:hover {
                transition: all 0.2s ease;
                transform: scale(1.02);
            }
        }

        #middle {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            z-index: 3;
        }

        #left {
            position: absolute;
            z-index: 2;

            transition: all 0.2s ease;
        }

        #right {
            position: absolute;
            z-index: 1;

            transition: all 0.2s ease;
        }

        #middle:hover ~ #left {
            transform: rotate(-.03turn) translate(-150px, -20px);
        }

        #middle:hover ~ #right {
            transform: rotate(.03turn) translate(150px, -20px);
        }
}
